---
// Fixed decoration layer: bubbles, stars, hearts.
// Matches the original miople.us aesthetic.
---
<div class="decor" aria-hidden="true">
  <span class="bubble" style="top: 10%; left: 8%;"></span>
  <span class="bubble" style="top: 20%; left: 80%; width: 24px;"></span>
  <span class="bubble" style="top: 66%; left: 12%; width: 16px;"></span>
  <span class="bubble" style="top: 75%; left: 86%; width: 20px;"></span>
  <span class="star" style="top: 14%; left: 52%;">✦</span>
  <span class="star" style="top: 38%; left: 88%;">✧</span>
  <span class="star" style="top: 74%; left: 40%;">✦</span>
  <span class="heart" style="top: 24%; left: 20%;">❤</span>
  <span class="heart" style="top: 56%; left: 76%;">❤</span>
  <span class="heart" style="top: 82%; left: 30%;">❤</span>
</div>
